footer {
grid-area: footer;
}

header {
grid-area: header;
}

main {
grid-area: main;
width: 90%;
max-width: 1300px;
margin: auto auto;
}

nav {
grid-area: nav;
}

h2 {
grid-area: section;
}

#layout {
display: grid;
grid-gap; 0px;
grid-template-areas:
"header"
"nav"
"h2"
"main"
"footer"
}

nav ul li {
display: inline-block;
}